<h1>Vendor Show Page</h1>

<h2>Vendor Name:</h2>
<%=@vendor.name%>
<h3>List of Vendor's Sweets:</h3>
<%@vendor.vendor_sweets.each do |vs|%>
<ul>
    <li><%=link_to vs.sweet.name, vs.sweet%></li>
</ul>
<%end%>



